{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>aapkaCA</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/ca_login.css' %}" type="text/css" />
  </head>
  <body>
<!--  Header Starts-->
    <div class='Home-Main'>
        <div>
            <a class='Header-logo' href="{% url 'frontend__home' %}">aapkaCA</a>

            {% if request.user.is_authenticated %}
               <span class='Header-button right dropdown login-signup'>
                    <button class="dropdown">Welcome {{ request.user.full_name }}</button>
                    <div class="dropdown-content">
                   <a href="{% url 'frontend__ca_logout' %}">Logout</a>
                    </div>
                </span>
            {% else %}
                <span class='Header-button right dropdown login-signup'>
                    <button class="dropdown">Login / Signup</button>
                    <div class="dropdown-content">
                   <a href="{% url 'frontend__ca_login' %}">CA</a>
                   <a href="{% url 'frontend__user_login' %}">Customer</a>
                    </div>
                </span>
            {% endif %}
        </div>
        <div class='Header-menu'>
            <span class='Header-menu-item'>Home</span>
            <span class='Header-menu-item'>About Us</span>
            <span class='Header-menu-item'>CA Blogs</span>
            <span class='Header-menu-item'>Trace CA Member</span>
            <span class='Header-menu-item'>Need Help?</span>
        </div>
        <div class='Header-menu'>
            <span class='Header-menu-item'>Search CA by location</span>
            <span class='Header-menu-item'>Search CA by business need</span>
            <span class='Header-menu-item'>Search CA by business stage</span>
            <span class='Header-menu-item'>Search CA by business domain</span>
        </div>
        <div class='MT-16'></div>
    </div>
    <div class='MT-16' ></div>
<!-- Header Ends-->

<!-- Dismissable Alert-->
{% for message in messages %}
<div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
  <strong>Message: </strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<!--Dismissable Alerts Ends-->

<!--  Register Form Starts-->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-2" method="POST" action="{% url 'frontend__ca_register' %}"autoComplete="off" >
                    {% csrf_token %}
                    <h2 class="text-center mt-5 calogin" id="calogin">CA Signup</h2>
                    <div class="text-center">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                            width="200px" alt="profile"/>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Full Name</p>
                        <input class="form-control" type="text" placeholder='Full Name' name="full_name"/>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Phone No</p>
                        <input class="form-control" type="text" placeholder="Phone no" name="phone_no"/>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Email</p>
                        <input class="form-control" type="email" placeholder='email' name="email"/>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Location</p>
                        <select name="location" id="location" class="form-select">
                            <option selected>Select Location</option>
                            <option value="DELHI_NCR">Delhi NCR</option>
                            <option value="BHOPAL">Bhopal</option>
                            <option value="INDORE">Indore</option>
                            <option value="UP">Uttar Pradesh</option>
                            <option value="PUNJAB">Punjab</option>
                            <option value="RAJASTHAN">Rajasthan</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Office Address</p>
                        <input class="form-control" type="text" placeholder="Office Address" name="office_address"/>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Years of Experience</p>
                        <input class="form-control" type="number" placeholder="Years of Experience" name="years_of_experience"/>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Degrees</p>
                        <select name="degrees" id="degrees" class="form-select" multiple>
                            <option selected>Select Degrees</option>
                            <option value=1>B.Tech</option>
                            <option value=2>B.Arch</option>
                            <option value=3>BBA</option>
                            <option value=4>BCA</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Profile Summary</p>
                        <textarea rows="4" class="form-control" placeholder="Profile Summary" name="summary"></textarea>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>CA Passout Year</p>
                        <input class="form-control" type="number" placeholder="CA Passout Year" name="passout_year"/>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Password</p>
                        <input type="password" class="form-control" placeholder="Password" name="password1"/>
                    </div>
                    <div class="mb-3">
                        <p class='inputtile'>Confirm Password</p>
                        <input type="password" class="form-control" placeholder="Confirm password" name="password2"/>
                    </div>
                    <div class="text-center"><Button type="submit" class="btn btn-color px-5 mb-5 w-100"  >Submit</Button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  Register Form Ends-->
  </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static 'js/home.js' %}"></script>
</html>