CA Register
<br>
<hr>
<a href="{% url 'frontend__home' %}">aapkaCA</a>

<!-- Dismissable Alert-->
{% for message in messages %}
<div>
  <strong>Message: </strong> {{message}}
  <button>Close</button>
</div>
{% endfor %}

<form method="POST" action="{% url 'frontend__ca_register' %}" autoComplete="off" >
    {% csrf_token %}
    <h2>CA Signup</h2>
    <p>Full Name</p>
    <input type="text" placeholder='Full Name' name="full_name"/>

    <p>Phone No</p>
    <input type="text" placeholder="Phone no" name="phone_no"/>

    <p>Email</p>
    <input type="email" placeholder='Email' name="email"/>

    <p>Location</p>
    <select name="location" id="location">
        <option selected>Select Location</option>
        <option value="DELHI_NCR">Delhi NCR</option>
        <option value="BHOPAL">Bhopal</option>
        <option value="INDORE">Indore</option>
        <option value="UP">Uttar Pradesh</option>
        <option value="PUNJAB">Punjab</option>
        <option value="RAJASTHAN">Rajasthan</option>
    </select>

    <p>Office Address</p>
    <input type="text" placeholder="Office Address" name="office_address"/>

    <p>Years of Experience</p>
    <input type="number" placeholder="Years of Experience" name="years_of_experience"/>

    <p>Degrees</p>
    <select name="degrees" multiple>
        <option selected>Select Degrees</option>
        <option value=1>B.Tech</option>
        <option value=2>B.Arch</option>
        <option value=3>BBA</option>
        <option value=4>BCA</option>
    </select>

    <p>Profile Summary</p>
    <textarea rows="4" placeholder="Profile Summary" name="summary"></textarea>

    <p>CA Passout Year</p>
    <input type="number" placeholder="CA Passout Year" name="passout_year"/>

    <p>Password</p>
    <input type="password" placeholder="Password" name="password1"/>

    <p>Confirm Password</p>
    <input type="password" placeholder="Confirm password" name="password2"/>

    <Button type="submit">Submit</Button>
</form>
